<!-- bof Header ================================================== -->
  <div class="container frame">
    <div class="span3 pull-right user-menu">
      <div class="pull-left welcome">Welcome<br>
        {{username}}</div>
      <ul class="top-bar-right-buttons pull-right">
      	<!-- <li class="worker"><a href="{{currentTask}}">({{pendingTasks}})</a></li> -->
      	 <li ng-show="thereIsPendingJob" class="btn"><a href="#/contacts/importjobs"><i ng-style="worker_style" class="worker"></i></a></li>
        <li class="btn no-active"><a tabindex="-1"><i class="fa-lg fa-question"></i></a></li>
        <li ng-class="navClass('settings')" class="dropdown btn no-active" ng-click="goTo('/settings')"><!--<a id="drop3" role="button" href="#/settings">--><i class="fa-lg fa-cogs"></i>
          <span ng-if="canspam.status == 0" class="badge badge-important" tooltip="Please complete Sender Address Informations" tooltip-placement="bottom">!</span>
         
        </li>
        <li class="btn" ng-click="logout()"><a><i class="fa-lg fa-power-off"></i></a></li>
      </ul>
    </div>
    <div class="row-fluid">
      <div class="navbar span9 pull-left main-menu">
        <div class="navbar-inner">
          <div><a class="brand" href="#"><img src="img/logo.png" alt="logo"></a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="fa-lg fa-bars"></span></button>
              <!-- spinner -->

              <div class="nav-collapse pull-right">
              <ul class="nav">
                <li><a href="#/campaigns" ng-class="navClass('campaigns')" class=" btn btn-block">{{ 'Campaigns' | i18n}}</a> </li>
                <li><a href="#/contacts" ng-class="navClass('contacts')" class=" btn btn-block">{{ 'Contacts' | i18n}}</a> </li>
                <li><a href="#/autoresponders" ng-class="navClass('autoresponders')" class=" btn btn-block no-active">{{ 'Autoresponders' | i18n }}</a> </li>
                <li><a href="#/reports" ng-class="navClass('reports')" class=" btn btn-block no-active">{{ 'Reports' | i18n}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="position:fixed;bottom:0px;left:0px;width:400px;height:30px;font-size:11px;color:darkgray">
       Revision: <strong>{{application_revision}}</strong> - {{application_lastchanged}}
    </div>
  </div>
  <!--- eof HEADER -->



<!-- BEGIN  layout -->
 <div class="container view">
    <div class="row-fluid  main-conainer">
    	<div id="toast-container"></div>
        <div ng-view></div>
    </div>
</div>
<!-- END layout -->


<!-- tooltip template -->
<script id="template/tooltip/tooltip-popup.html" type="text/ng-template">
  <div style="text-transform:none !important" class="tooltip {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner" ng-bind="content"></div>
  </div>
</script>
<!-- END tooltip -->


